{{>header}}    
{{>navbar}}

 <h1>Pintores, sus vidas, obras y más.</h1>
    <hr>
    <p class="lala">
      En esta ocasión tengo la oportunidad de presentarte a unos admirables pintores, tales como Frida Khalo, Leonardo Da Vinci, Gustav Klimt, Vicent Van Gogh, Salvador Dali y Leonardo Da Vinci; te mostraré un poco de sus vidas, sus obras y pinturas. Además como punto extra te presentaré dibujos y pinturas hechas por personas cercanas a mi que aún no son reconocidas, pero en lo personal me gustan mucho sus trabajos y las admiro por que emplean un arte que no muchos pueden, y además lo hacen con el corazón.
     Espero que el contenido sea de tu agrado. <br> Sin más por el momento, elige alguno...
        <br><br>
<br><br><br><br><br><br><br>




{{>footer}}